In [1]:
import pandas as pd
import ast
import numpy as np

In [4]:
credits = pd.read_csv("C:/Users/andre/OneDrive/Documents/Charis/credits.csv")
movies = pd.read_csv("C:/Users/andre/OneDrive/Documents/Charis/movies_metadata.csv")

In [5]:
credits['crew'].fillna('[]', inplace=True)
credits['cast'].fillna('[]', inplace=True)
credits['crew']=credits['crew'].apply(ast.literal_eval)
credits['cast']=credits['cast'].apply(ast.literal_eval)

In [6]:
def get_actor(namedict):
    result={}
    try:
        result['actor_1_name']=[x['name'] for x in namedict if x['order']==0][0]
        result['actor_2_name']=[x['name'] for x in namedict if x['order']==1][0]
        result['actor_3_name']=[x['name'] for x in namedict if x['order']==2][0]
               
    except:
        name=np.nan
    return result
        
def get_director(namedict):
    try:
        name=[x['name'] for x in namedict if x['job']=='Director'][0]
    except:
        name=np.nan
    return name

def get_writer(namedict):
    try:
        name=[x['name'] for x in namedict if x['job']=='Screenplay' or x['job']=='Writer'][0]
    except:
        name=np.nan
    return name

#Creating two additional columns for director and writer 
credits['director']=credits['crew'].apply(get_director)
credits['writer']=credits['crew'].apply(get_writer)

#creating the 3 main actors for the movie
credits['actor_1_name']   =credits['cast'].apply(get_actor).apply(lambda x :x.get('actor_1_name',''))
credits['actor_2_name']   =credits['cast'].apply(get_actor).apply(lambda x :x.get('actor_2_name',''))
credits['actor_3_name']   =credits['cast'].apply(get_actor).apply(lambda x :x.get('actor_3_name',''))

In [7]:
#Dropping cast and cast and crew columns as no longer needed
credits.drop(['cast','crew'], inplace=True, axis=1)

In [8]:
credits.head(10)

,id,director,writer,actor_1_name,actor_2_name,actor_3_name
0,862,John Lasseter,Joss Whedon,Tom Hanks,Tim Allen,Don Rickles
1,8844,Joe Johnston,Jonathan Hensleigh,Robin Williams,Jonathan Hyde,Kirsten Dunst
2,15602,Howard Deutch,Mark Steven Johnson,Walter Matthau,Jack Lemmon,Ann-Margret
3,31357,Forest Whitaker,Ronald Bass,Whitney Houston,Angela Bassett,Loretta Devine
4,11862,Charles Shyer,Nancy Meyers,Steve Martin,Diane Keaton,Martin Short
5,949,Michael Mann,Michael Mann,Al Pacino,Robert De Niro,Val Kilmer
6,11860,Sydney Pollack,Barbara Benedek,Harrison Ford,Julia Ormond,Greg Kinnear
7,45325,Peter Hewitt,David Loughery,Jonathan Taylor Thomas,Brad Renfro,Rachael Leigh Cook
8,9091,Peter Hyams,Karen Elise Baldwin,Jean-Claude Van Damme,Powers Boothe,Dorian Harewood
9,710,Martin Campbell,Jeffrey Caine,Pierce Brosnan,Sean Bean,Izabella Scorupco

In [7]:
credits.to_csv("C:/Users/andre/OneDrive/Documents/Charis/credits_final.csv")

In [9]:
# which rows actually have genres and not a blank list
has_genres_mask = movies['genres'] != '[]'

genres = movies['genres'][has_genres_mask]

In [10]:
def to_labels(genres_list):
    genres_list = ast.literal_eval(genres_list)
    return [g['name'] for g in genres_list]

In [11]:
genres_strings = genres.apply(to_labels)
genres_strings.head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object