In [7]:
import opendatasets as od
import zipfile
import requests
import pandas as pd
import seaborn as sns
import wptools as wiki

# Instructions for downloading dataset
Run the following cell. It will ask for a username and a Kaggle key. I created an account specifically for this project.

#### Username: jarrodmm

#### Key: f8d88db47b0e05e1621e12bbeefcd17a

Enter these when prompted and the dataset will download into the project folder. 

note: the opendatasets package is included with the Anaconda distribution. If you do not use Anaconda you will need to install this package into your kernel via the pip install opendatasets command. This can be done with a terminal or in a cell.

In [9]:
od.download('https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  jarrodmm

Your Kaggle Key:

  ········

Downloading the-movies-dataset.zip to .\the-movies-dataset

100%|██████████| 228M/228M [00:08<00:00, 29.0MB/s]

In [10]:
movies_metadata_df = pd.read_csv('the-movies-dataset/movies_metadata.csv')

C:\Users\Jarrod\AppData\Local\Temp\ipykernel_12912\537754518.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata_df = pd.read_csv('the-movies-dataset/movies_metadata.csv')

In [11]:
movies_metadata_df.shape

(45466, 24)

In [12]:
movies_metadata_df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [17]:
movies_metadata_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
movies_metadata_df.adult.value_counts()

In [ ]:
movies_metadata_df = movies_metadata_df[movies_metadata_df.adult == 'False']

In [ ]:
movies_metadata_df.drop('adult', axis=1, inplace=True)

In [ ]:
movies_metadata_df.belongs_to_collection.value_counts().sum()

In [ ]:
movies_metadata_df.drop('belongs_to_collection', axis=1, inplace=True)

In [ ]:
sns.histplot(movies_metadata_df.budget)

In [4]:
movies_metadata_df.budget.value_counts()

0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
923             1
72500000        1
2160000         1
4439832         1
1254040         1
Name: budget, Length: 1226, dtype: int64

In [6]:
pd.set_option('display.max_columns', None)
no_budget_df = movies_metadata_df[movies_metadata_df['budget'] == '0']
no_budget_df.head(50)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",2.561161,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,/xve4cgfYItnOhtzLYoTwTVy5FGr.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,12.140733,/gV5PCAVCPNxlOLFM1bKk50EqLXO.jpg,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,10.701801,/80czeJGSoik22fhtUM9WzyjUU4r.jpg,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,12.133094,/1uRKsxOCtgz0xVqs9l4hYtp4dFm.jpg,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,1.845899,/qM0BXEQjmnAzlkDZ0tYmV6twqMX.jpg,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]",1995-12-15,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,2.228434,/si8911IezMvAnQFDvyg1nKzDlD.jpg,"[{'name': 'BBC Films', 'id': 288}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-09-27,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,1.100915,/qcoOCoN7viOhboGwhYXyApdDuiq.jpg,"[{'name': 'Ministère des Affaires Étrangères',...","[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_...",1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,9.481338,/y5Jee3QmYOlpqfaPPbfvtdVc5wj.jpg,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-08-11,180000000.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,0.745542,/k6ODtR38dKEfuzSGjggr8KDyAF4.jpg,"[{'name': 'Iwerks Entertainment', 'id': 70801}]","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,1.493361,/a7w6rPdTBgWAx6lnhwHemPx9pEw.jpg,"[{'name': 'StudioCanal', 'id': 694}, {'name': ...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-11-08,0.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16.0
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",0.114469,/lKOAyy098yjoot8cutYsStVO1WS.jpg,"[{'name': 'Sony New Technologies', 'id': 53390}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-20,0.0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2.0
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,7.777735,/l67WJL3Mjce1yoEgL4HheR5v75D.jpg,"[{'name': 'Dualstar Productions', 'id': 6130},...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-17,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149.0
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,0.894647,/ymA7HQqRiyo1xrnFFv1ZrwNpwlb.jpg,"[{'name': 'Miramax', 'id': 53009}, {'name': 'D...","[{'iso_3166_1': 'ZA', 'name': 'South Africa'}]",1995-12-15,676525.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",False,6.7,13.0
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,4.561387,/e8nuS9GQoSFaqld4hW5erk2ccag.jpg,"[{'name': 'British Screen', 'id': 871}, {'name...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-12-29,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50.0
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",3.302524,/wnUuYc9XnWrTTAGz8YjjULA3Zmr.jpg,[{'name': 'Alliance Communications Corporation...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",1995-05-05,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10.0
50,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,117164,tt0109950,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,0.595949,/hwbKoOSUuzuN2AQppnUxwwd4qOD.jpg,[],[],1994-11-22,0.0,93.0,[],Released,She's no angel of mercy.,Guardian Angel,False,6.3,3.0
52,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",1.361286,/407nYlg60AOj95lqDZ4tvUTTm1k.jpg,[],"[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",1994-01-01,0.0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,NaN,Lamerica,False,7.7,11.0
53,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,26441,tt0112499,en,The Big Green,"In a depressed Texas town, British foreign exc...",5.982764,/erWfSEcjO4LG69Tlm2mED5JMSqH.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0
54,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,97406,tt0113158,en,Georgia,"Sadie looks up to her older sister Georgia, a ...",4.093443,/5OTTRuKfiso75xofN8Vl5mRXOQP.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-05-19,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The toughest act to follow was their dreams.,Georgia,False,6.1,15.0
55,False,NaN,0,[],NaN,124057,tt0113541,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",0.307075,/tL9ImxOccEshRlgmrKQabKH2tCd.jpg,"[{'name': 'Telefilm Canada', 'id': 7320}, {'na...",[],1997-07-08,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Kids of the Round Table,False,3.0,1.0
56,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9089,tt0113321,en,Home for the Holidays,"After losing her job, making out with her soon...",8.416802,/97EKLaslQ4gzkvALtqGCDOmsGHk.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-02,17519169.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,We'll do it every year..until we get it right,Home for the Holidays,False,6.3,39.0
57,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,11010,tt0110877,it,Il postino,Simple Italian postman learns to love poetry w...,10.168437,/qkq2JfINRQi4Iu9VTMMtQFfmGWZ.jpg,[],"[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",1994-09-22,0.0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,The Postman,False,7.6,181.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",0.120789,/8RCRrSAY8e3Qn5p9cNv188ogmZQ.jpg,[],"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
61,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",NaN,2054,tt0113862,en,Mr. Holland's Opus,"In 1965, passionate musician Glenn Holland tak...",7.137117,/jYEKdpVvRV3KdyHMUVYyg0KTVSY.jpg,"[{'name': 'Hollywood Pictures', 'id': 915}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-29,106269971.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Of All the Lives He Changed, the One That Chan...",Mr. Holland's Opus,False,6.9,115.0
62,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,10607,tt0116126,en,Don't Be a Menace to South Central While Drink...,When Ashtray (Shawn Wayans) moves to South Cen...,11.700115,/l6D9f9WbxdI4tyCmJGs56y8tQla.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-12,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Finally, the movie that proves that Justice is...",Don't Be a Menace to South Central While Drink...,False,6.2,192.0
63,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,19760,tt0118002,en,Two If by Sea,"Frank O'Brien, a petty thief, and his 7-year-l...",2.174487,/e0iwJJiLjk8Z6A9TuL3neX504H3.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-12,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A new comedy about love, laughter, and larceny",Two If by Sea,False,4.5,14.0
65,False,"{'id': 124935, 'name': 'The Lawnmower Man Coll...",0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,11525,tt0116839,en,Lawnmower Man 2: Beyond Cyberspace,Jobe is resuscitated by Jonathan Walker. He wa...,2.49535,/i0hBsWBLw64XRehFzCL44PaCs1y.jpg,"[{'name': 'New Line Cinema', 'id': 12}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-12,2409225.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,God made him simple. Science made him a god. N...,Lawnmower Man 2: Beyond Cyberspace,False,2.8,32.0
66,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,40628,tt0114753,en,Two Bits,"It's a hot summer day in 1933 in South Philly,...",4.046208,/k4jOFtt7NqEtLnoI2Rs3BqKNHtI.jpg,"[{'name': 'Miramax Films', 'id': 14}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-22,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're never too old to believe in a dream. Or...,Two Bits,False,5.4,11.0
67,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,4482,tt0113149,fr,Gazon maudit,"After learning of her husband's infidelities, ...",2.518051,/dDB8mMKRL28gHsRcGPoMQYrzaXg.jpg,"[{'name': 'Renn Productions', 'id': 82}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}]",1995-02-08,0.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,French Twist,False,6.0,43.0
71,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,28387,tt0113537,en,Kicking and Screaming,"After college graduation, Grover's girlfriend ...",3.367276,/urPxxjylNUHmoNcGkMgHStMTxhF.jpg,"[{'name': 'Castleberg Productions', 'id': 5841...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-06,718490.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Anxiety loves company.,Kicking and Screaming,False,7.0,36.0
72,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,48750,tt0113828,fr,Les misérables,"In France during World War II, a poor and illi...",1.479446,/ePJCk8puXx28CtvpSpmezpwfVt8.jpg,"[{'name': 'Les Films 13', 'id': 1742}, {'name'...","[{'iso_3166_1': 'FR', 'name': 'France'}]",1995-03-22,0.0,175.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,"In a time of chaos, in a world of change, he w...",Les Miserables,False,6.6,8.0
73,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,20927,tt0115644,en,Bed of Roses,"The seeds of love are planted when Lisa, a hig...",10.412194,/kTEpzjzyeYER1WuCm7Seul4Fatc.jpg,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-26,19030691.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He gave her flowers. She gave him a chance.,Bed of Roses,False,5.1,27.0
76,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,124626,tt0113973,en,Nico Icon,"A look into the many lives of Christa Päffgen,...",0.133893,/tuIDKBp92R4tGFOB46MofvakfiY.jpg,"[{'name': 'Zweites Deutsches Fernsehen (ZDF)',...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",1995-02-18,0.0,70.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Nico Icon,False,7.3,3.0
77,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,27526,tt0112744,en,The Crossing Guard,"After his daughter died in a hit and run, Fred...",5.756462,/mMXL84GqES2HYpJ0Zt18I7m6mfU.jpg,"[{'name': 'Miramax Films', 'id': 14}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-15,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"...some lives cross, others collide.",The Crossing Guard,False,6.1,74.0
79,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,46785,tt0112445,fa,بادکنک سفید,Several people try to take advantage of a litt...,1.196256,/96UDOJNgJXHmQMJqA79bKS9PR8i.jpg,"[{'name': 'I.R.I.B. Channel 2', 'id': 38953}, ...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]",1995-01-01,0.0,85.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,The White Balloon,False,7.5,20.0
82,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,146599,tt0114039,en,Once Upon a Time... When We Were Colored,This film relates the story of a tightly conne...,0.252287,/tsJSlkFSZPQhhVuKrYJXNClYaPD.jpg,"[{'name': 'BET Pictures', 'id': 38196}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-26,0.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Once Upon a Time... When We Were Colored,False,4.5,2.0
83,False,NaN,0,[],NaN,188588,tt0113612,en,Last Summer in the Hamptons,"Filmed entirely on location in East Hampton, L...",0.531159,/pfgpkDNcwSi1x4jVzeLqvxTwX5a.jpg,[],[],1995-11-22,0.0,108.0,[],Released,NaN,Last Summer in the Hamptons,False,0.0,0.0
84,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8447,tt0112365,en,Angels and Insects,"In Victorian England, wealthy patriarch Sir Ha...",2.15166,/1QyCF6IFoX5WJIYHOkmLa3vzU0r.jpg,"[{'name': 'Playhouse International Pictures', ...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-09-10,0.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An elegant seduction. An erotic deception. A s...,Angels and Insects,False,6.3,17.0
87,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,13997,tt0115697,en,Black Sheep,When dignified Albert Donnelly runs for Govern...,8.963037,/2wsaboVhKXpsLchoaXi0oWmQ7xM.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-02-01,32.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's one in every family.,Black Sheep,False,6.0,124.0
89,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,61548,tt0113490,en,The Journey of August King,The Journey of August King is a multi-dimensio...,0.411424,/hT5CF2RJPAVi9TE4iKxGYAufY4J.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-09-14,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Journey of August King,False,6.7,3.0
92,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9283,tt0115639,en,Beautiful Girls,During a snowy winter in the small fictional t...,4.670562,/8leYqrAL6EubYjOCZuO6ELPdLYe.jpg,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-02-09,0.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Good times never seemed so good,",Beautiful Girls,False,6.6,103.0
94,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,40154,tt0113403,en,A Midwinter's Tale,Out of work actor Joe volunteers to help try a...,0.513391,/6u2N0gn6uUWF4cSdkXmVB8E8q2X.jpg,"[{'name': 'Castle Rock Entertainment', 'id': 9...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1995-12-01,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The drama. The passion. The intrigue... And th...,A Midwinter's Tale,False,7.5,6.0
96,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45549,tt0111173,en,Shopping,"A dark, hip, urban story of a barren and anony...",2.657647,/jdYL6f0KXnYBcnWnwGtnanJtKlE.jpg,"[{'name': 'Channel Four Films', 'id': 181}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1994-12-06,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,False,5.6,13.0

In [27]:
%%time
budget={}
for idx, data in no_budget_df.iterrows(): 
    so = wiki.page(data.original_title, silent=True).get_parse().data['infobox']
    if so.has_key('budget'):
    
    
    if not idx%100:
        break

$25 million
$30 million {{Citation needed|date|=|September 2020}}

KeyError: 'budget'

In [7]:
wiki.page('Grumpier Old Men', silent=True).get_parse().data['infobox']['budget']

'$25 million'

In [9]:
clean_df = movies_metadata_df.loc[movies_metadata_df.budget != '0']

In [11]:
clean_df.shape

(8893, 24)

In [17]:
movies_metadata_df[movies_metadata_df.revenue != 0].revenue.value_counts()

12000000.0    20
11000000.0    19
10000000.0    19
2000000.0     18
6000000.0     17
              ..
36565280.0     1
439564.0       1
35610100.0     1
10217873.0     1
1413000.0      1
Name: revenue, Length: 6862, dtype: int64